<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h1>Bienvenue sur l'accueil</h1>
        <a href="http://localhost:8000/contact"> Nous contacter ! </a>
        </br>
        <a href="http://localhost:8000/about"> A propos ! </a>
    </body>
</html>