<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('services') }}">Services</a></li>
                <li><a href="{{ path('Home') }}">Home</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
        <h1>A propos de nous !</h1>
    <footer>
        <p>&copy; 2024 Mon site Symfony. Tous droits réservés.</p>
    </footer>
    </body>
</html>