<!DOCTYPE html>
<html>
    <head>
        <title>A propos</title>
    </head>
    <body>
        <h1>A propos de nous !</h1>
        <a href="http://localhost:8000/accueil"> Retour a l'accueil ! </a>
        </br>
        <a href="http://localhost:8000/contact"> Nous contacter ! </a>
    </body>
</html>