<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <h1>Bienvenue sur la page contact !</h1>
        <a href="http://localhost:8000/accueil"> Retour a l'acceuil ! </a>
        </br>
        <a href="http://localhost:8000/about"> A propos ! </a>
    </body>
</html>